/*Mobile First*/

@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto');

html, body {
  margin: 0;
  padding: 0; 
}

body {
  background-color: #faf4d5;
  text-align: center;
  color: #fff;
  font-family: 'Roboto';
}

h1 {
  font: 13vw 'Pacifico';
  color: #f8111b;
  margin: 10px  0px 10px 0;
}

.container {
  width: 400px;
  height: 115px;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
  color: #509950;
  display: flex;
  flex-direction: row;
}

.choose-time {
  height: 100%;
  width: 45%;
  background-color: #f6e6b1;
  margin: 0px 10px 0px 10px;
}

.time-options {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  
}

h2, button { 
  font-size: 40px;
}

button {
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
  padding-bottom: 10px;
}

h3 {
  background-color: #faf4d5;
  display: block;
  font: 15px 'Roboto';
  text-transform: uppercase;
  margin: 0 auto;
}


.pomodoro {
  background-color: #f8111b;
  height: 300px;
  width: 300px;
  border-radius: 200px;
  border: 10px solid #f8111b;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
}

.timer {  
  background-color: #f99e98 ;
  height: 80%;
  width: 100%;
  position: relative;
  top: -30%;
}

h4 {
  display: block;
  font-size: 30px;
  margin: 0 auto;
  position:relative;
  top: 37%;
  z-index: 100;
}

p {
  margin-top: 50px;
}

a {
  color: #f6e6b1;
  text-decoration: none;
}


@media only screen and (min-width: 500px) {
  
  h1{
    font-size: 60px;
  }
  
}

